.button {
  background-color: red;
  border-radius: 8px;
  color: white;
  box-shadow: 2px 5px gray;
  padding: 12px 20px;
  margin: 5px;
}

fieldset {
  background-color: rgb(197, 202, 236);
}

.backcolor {
  background-color: rgb(158, 167, 222);
}

.spacing {
  padding-left: 100px;
	padding: 1em;
}

.space {
  width: 30%;
}

.padding {
  padding-left: 100px;
  width: 420px;
}

.spaces {
  width: 35%;
}

.titlespacing {
  box-sizing: border-box;
  width: 51.64%;
  margin-left: 25%;
  background-color: rgb(110, 105, 195);
  padding-left: 0px;
  color: white;
  font-size: 20px;
}

.image {
  text-align: center;
  margin: auto;
}
